[submodule "remote/cdvae"]
	path = remote/cdvae
	url = https://github.com/WANG-CR/cdvae.git
[submodule "remote/riemannian-fm"]
	path = remote/riemannian-fm
	url = https://github.com/WANG-CR/riemannian-fm.git
[submodule "remote/DiffCSP-official"]
	path = remote/DiffCSP-official
	url = https://github.com/WANG-CR/DiffCSP-official.git
